h1 {
    text-align: center;
    color: brown;
}

a {
    color: #fff;
    font-size: 35px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: large;
}

.navbar-brand {
    color: #ffffff;
}