<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
    <div class="navbar-header">
     <a class="navbar-brand" href="#">{{title}}</a></div>
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLinkActive="active" routerLink="UserName">User</a></li>
            <li><a routerLinkActive="active" routerLink="post">Post</a></li>
        </ul></div>
    </nav><br><br><br><br>
    <router-outlet></router-outlet>
    <div class="footer">
  <p>Quantiphi Analytics</p>
</div>

